@model MyCleanArchitectureApp.UI.ViewModel.MovieDetailsViewModel    

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.AverageRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.AverageRating)
        </dd>
    </dl>
</div>

<div>
    <h4>Reviews</h4>
    <hr />
    @if (Model.Reviews != null && Model.Reviews.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Review</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Reviews)
                {
                    <tr>
                        <td>@review.Rating</td>
                        <td>@review.Text</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No reviews yet for this movie.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Movie?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
